/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #5f032e;
    --secondary-color: #1d000e;
    --text-color: #080808;
    --accent-color: #5f032e;
    --background-color: #ebd2b8;
    --background-accent-color: #d4b89b;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
